<div class="main">
<div class="header">
    <h1>TODO-LIST</h1>
    
    <label class="inputForm" for="addItemInput">YOUR CURRENT TASKS</label>
    
    <input class="mainInput" #newItem placeholder="Input task" pInputText
      (keyup.enter)="addItem(newItem.value); newItem.value = ''" id="addItemInput" />
    
    <button  type="button" pButton (click)="addItem(newItem.value); newItem.value = ''">Add Task
    </button>
    
    
    
    
    
    <h2>{{items.length}} <span *ngIf="items.length === 1; else elseBlock">item remained</span>
      <ng-template #elseBlock>tasks </ng-template>
    </h2>

</div>

<ul>
  <li *ngFor="let item of items">
    <app-item (remove)="remove(item)" [item]="item"></app-item>
  </li>
</ul>
</div>